@media (max-width:960px){

    body, html {
      overflow-x: hidden;
      overflow-y: scroll;
    }

    #bg-image img{
        position: absolute;
        z-index: -1;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        filter: blur(2px);
        width: 100vw;
        height: 100vh;
        margin-top: 0;
        margin-bottom: -5vh;
    }

    .photoDiv {
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
        position: relative;
    }

    #myPhoto {
        position: absolute;
        overflow: hidden;
    }

    #secretDiv:hover {
        opacity: 0%;
        transition: opacity 0.3s ease-in-out;
    }

    #Todo {
        display: contents;
    }

    #content {
        height: fit-content;
        overflow: hidden;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    #skills {
        padding: 1%;
        width: 80vw;
        height: auto;
        margin: auto;
        margin-top: 12%;
        justify-items: center;
    }

    #skills h2,
    #skills h3,
    #skills p {
        font-size: 3.6vw;
    }

    #menu {
        display: block;
        position: absolute;
        background-color: #000000ad;
        padding: 3%;
        top: 9%;
        left: 90%;
        transform: translate(-50%, -50%);
        color: #fff;
        z-index: 1;
        border-radius: 5px;
    }

    #navContent{
        display: none;
        position: absolute;
        top: 85px;
        right: 0;
        background-color: #00000070;
        width: 65%;
        height: 100vw;
        text-align: center;
        z-index: 1;
        box-shadow: none;
        border-radius: 5px;
    }

    #navContent ul {
        flex-direction: column;
        width: 20%;
    }
    #navContent li {
        padding: 35%;
    }

    #navContent a {
        padding: 8%;
        margin: auto;
        color: #fff;
    }

    #header {
        margin: auto;
        width: 92vw;
    }

    #introduction {
        flex-direction: column;
        padding: 3.6%;
        margin: auto;
    }

    #introduction h1 {
        font-size: 4vw;
        padding-bottom: 4%;
        margin: auto;
    }

    #introduction h3{
        margin: auto;
        margin-left: 8%;
        align-items: flex-end;
        font-size: 2.8vw;
    }

    #introduction p {
        margin:  auto;
        align-items: flex-end;
        font-size: 3vw;
        padding: 1%;
    }

    #exp {
        width: auto;
        height: auto;
        scale: 88%;
        margin: auto;
        margin-top: 0;
        justify-items: center;
    }

    #exp p,
    #exp h1,
    #exp h2,
    #exp h3 {
        font-size:4vw;
        padding: 2%;
    }

    a#actualPag {
        font-weight: 400;
        color: #1c9e2b; 
        text-shadow: 0px 8px 4px rgba(17, 118, 29, 0.50); 
        -webkit-text-stroke-width: 1; 
        -webkit-text-stroke-color: rgba(0, 0, 0, 0.20);
    }

}
