body {
    margin: 0%;
    font-family: 'Segoe UI';
    background-color: rgb(211, 205, 200);

}

#bg-image img{
    position: absolute;
    z-index: -1;
    flex-shrink: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    filter: blur(2px);
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

#content {
    background-color: rgba(207, 207, 207, 0.75);
    width: 1731px;
    height: 80vh;
    padding-top: 30px;
    padding-bottom: 30px;
    vertical-align: middle;
    margin: auto;
    border-radius: 0 0 24px 24px;

}

#Carrusel {
    width: 100%;
}

.slidersel {
    margin: auto; 
}
.slidersel img {
    border-radius: 39px;
    padding-left: 14px;
}

#containerSec {
    margin: auto;
    width: 950px;
    height: 680px;
    border-radius: 39px;
    background: rgba(0, 0, 0, 0.60);
    display: flex;
}

#content h1 {
    margin: 0 20px 0 20px;
}

#navContent{
    border-radius: 0 0 30px 30px;
    background: #D9D9D9;
    box-shadow: 6px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#navContent ul{
    margin-top: 0%;
    margin-bottom: 0%;
    list-style: none;
    padding: 15px;
    display: flex;
    padding-bottom: 30px;
    font-size: 34px;
    font-style: italic;
    font-weight: 350;
    color: #000;
}

#navContent li {
    padding: 0 20px 0 20px;
    margin: auto;
}

#header {
    display: flex;
}

#introduction {
    display: flex;
    margin-left: 3%;
    background: rgba(252, 250, 250, 0.55);
    border-radius: 39px;
    width: 80%;
    padding: 1%;
}

#introduction p , h3 {
    margin: 8px;
    display: flex;
    align-items: flex-end;
}

#exp {
    background: rgba(252, 250, 250, 0.55);
    margin-top: 5vh;
    border-radius: 39px;
    padding: 1%;
    width: 1130px;
    height: 510px;
}

#exp1 , #exp2 {
    margin-top: 27px;
    margin-left: 30px;
}
#exp2 {
    margin-top: 50px;
}

#exp p {
    padding-left: 2.2%;
    font-size: 20px; 
    font-style: normal; 
    font-weight: 320;
    line-height: normal;
}

#exp1 h1 {
    margin-top: 20px;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: center;
    display: flex;
    vertical-align: middle;
}

.photoDiv {
    display: flex;
    position: absolute;
    margin: 10.5vh 2px;
    top: 0;
    right: 0;
    width: 30%;
}

#myPhoto {
    width: 58%;
    margin: auto;
    display: flex;
    background: rgba(17, 118, 29, 0.33);
    border-radius: 100%;
}

#Todo {
    Display: flex;
}

#skills {
    margin: 50px;
    background: rgba(252, 250, 250, 0.55);
    border-radius: 39px;
    padding: 1%;
    width: 376px;
    height: 510px;
}

#skills h2 {
    font-size: 26px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: center;
    display: flex;
    vertical-align: middle;
}

#keySkills {
    margin: 0 10%;
    font-size: 20px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
}


#languages p {
    width: 100%;
    margin: 0;
    padding: 1.5%;
    font-size: 20px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
}
#languages {
    margin: 14% 9%; 
}
#languages h2 {
    margin-left: 4%;
    margin-bottom: 2%;
    justify-content: left; 
}

#lastSkills p {
    font-weight: bold;
    font-size: large;
    padding-top: 8px;
    padding-bottom: 5px;
}
#keySkills p{
    margin: 0px;
}

#download p {
    font-weight: bolder;
    font-style: oblique;
    padding: 40px 0 10px 0;
}

#contact  {
    height: 600px;
        width: 80%;
        margin: auto;
        font-size: larger;
        font-style: italic;
        display: grid;
        list-style: none;
        padding: 0%;
}

#contact p {
    font-weight: bolder;
    padding-top: 10px;
    width: 100%;
    margin: auto;
    height: 30px;
}

#contact li {
    justify-content: center;
    align-items: center;
    margin: auto;
}

#linkedIn {
    grid-row: 1/1;
    font-size: larger;
}
#linkedIn img {
    height: 35px;
    margin-right: 15px;
}

#stackOverflow {
    grid-row: 1/2;
    font-size: larger;
}
#stackOverflow img {
    height: 35px;
    margin-right: 15px;
}

#gitHub {
    grid-row: 2/3;
    font-size: larger;
    grid-column: span 2;
}
#gitHub img {
    height: 35px;
    margin-right: 5px;
}

 .contact-me {
    font-size: larger;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    align-items: center;
    margin: auto;
    padding-top: 50px;
    width: 50%;
 }

 a:link, a:visited, a:active {
    text-decoration:none;
    color: #000;
}
a:hover {   
    color: #11761D;
    text-shadow: 0px 8px 4px rgba(17, 118, 29, 0.50);
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.20);
}